<a href="https://colab.research.google.com/github/siddaanand/python/blob/master/26_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Find Large Number From Given 3 Numbers

In [0]:
print("enter three numbers")
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if a>b:
  print("a is gretaer")
elif b>c:
  print("b is greater")
else:
  print("c is greater")

enter three numbers
enter a number1
enter a number45
enter a number7
b is greater

In [0]:
#

# While statements:
### Syntax
##### while Boolean_condition:<br>
              statements<br>
              Increment / Decrement <br>

In [0]:
print("gitam")
print("gitam")
print("gitam")
print("gitam")
print("gitam")

In [0]:
 x=0
 while x<5:
     print("Gitam")
     x=x+1

Gitam
Gitam
Gitam
Gitam
Gitam

In [0]:
# print n natural numbers using while loop
# input=10
# output:1 2 3 4 5 6 7 8 9 10
n=int(input("enter a number"))
x=1
while x<=n:
      print(x,end=" ")
      x=x+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [0]:
#sum of even numbers given
n=int(input("enter a number"))
x=1
sum=0
while x<=n:
      if x%2==0:
        sum=sum+x
      x=x+1
print(sum)

enter a number10
30

In [0]:
# palindrome
n=int(input("enter a number"))
temp=n
rev=0
while n>0:
      p=n%10
      rev=rev*10+p
      n=n//10
if(temp==rev):
         print("the number is palindrome")
else:
      print("not a palindrome")
      print(rev)

enter a number123
not a palindrome
321

# Functional Programming
  - Simple
  - Easy to read
  - Lengthy program divides into sub programs

# Syntax

In [0]:
def nameofthefunction(<parameters>)
    statements
    return

In [0]:
# input: 1234
# output:6(2+4)

def addevendigit(n):
    sum=0
    while n!=0:
         r=n%10
         if r%2==0:
           sum=sum+r
         n=n//10
    return sum
addevendigit(123456)

12

In [0]:
# READ INPUT
# input:19528
# output:9

n=int(input("enter a number"))
def largestnum(n):
    l=0
    while n!=0:
      r=n%10
      if(r>l):
        l=r
      n=n//10
    return l
largestnum(n)

enter a number1254789

9

In [0]:
# print natural numbers using for loop


def natural(n):
    for i in range(1,n+1):
        print(i,end=" ")
natural(10)

1 2 3 4 5 6 7 8 9 10

In [0]:
def limit(l,b):
    for i in range(l,b+1):
        print(i,end=" ")
limit(11,17)

11 12 13 14 15 16 17

In [0]:
def limit(l,b):
    for i in range(l,b+1,3):
        print(i,end=" ")
limit(1,10)

1 4 7 10

In [0]:
# using function
# input :1,10
# output:10,9,8......1

In [0]:
def reverse(start,end):
    for i in range(end,start-1,-1):
        print(i,end=" ")
reverse(1,10)

10 9 8 7 6 5 4 3 2 1

# Data Stuctures
  - list
  - tuple
  - dictionary

# List
  - Its one common data structure in python,the items are seperated bycomma(,) and enclose by square brackets([]).
  - crud operations
      - c-create
      - r-read
      - u-update
      - d-delete
  
- list can be changed or immutable

# example:
  - list=[1,2,3,4]

In [0]:
li=[0,1,2,3,4,5]
print(li[0])

0